@charset "utf-8";
/**
 * sherlock221b
 * float布局方式
 */












/*
 * -----------------------------------------------------------
 * ----------------------2014/3/25 周二------------------------
 * ----------------------文本类CSS--------------------
 * ------------------------sherlock---------------------------
 * -----------------------------------------------------------
 * 重点说明:
 * 1. 文本溢出处理
 * 2. 文本换行
 */

/* 显示一行  溢出显示... */
.text-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* 显示一行 截断显示 */
.text-clip {
  text-overflow: clip;
  white-space: nowrap;
  overflow: hidden;
}

/* 强制换行显示 */
/*  word-wrap 对于长英文无解*/
.text-wrap {
  white-space: normal;
  word-wrap: break-word;
  word-break: break-all;
}



/** 针对webkit 多行文本显示...  **/
.multi-ellipsis{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.multi-2{  -webkit-line-clamp: 2; }
.multi-3{  -webkit-line-clamp: 3; }
.multi-4{  -webkit-line-clamp: 4; }