
/** ios 滑动菜单 begin**/
.swipe-menu {
    /** 开启3d加速 **/
    -webkit-transform: translateZ(0);
    transform: translateZ(0);

    /** 实际动画 **/
    -webkit-transition: -webkit-transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out;

    /** ios菜单设置 **/
    position: relative;
    overflow: hidden;
    z-index: 2;
    background: #ffffff;
}

.swipe-menu-left {
    -webkit-transform: translate(-120px);
    transform: translate(-120px);
}

.swipe-menu-right {
    -webkit-transform: translate(0);
    transfrom: translate(0);
}

/** ios 菜单样式 **/
.menu-list {
    position: absolute;
    right: 0px;
    top: 0;
    font-size: 0;
    overflow: hidden;
    z-index: 1;
}

.menu-list > .menu-btn {
    font-size: 1.6rem;
    color: #ffffff;
    width: 60px;
    height: 62px;
    line-height: 60px;
    text-align: center;
}

.menu-btn.remove {
    background: wheat;
}

.menu-btn.more {
    background: #d1d1d1;
}

/** IOS 滑动菜单 end**/



/** 摇摆 **/
.swing {
    -webkit-animation-name: swing;
    -webkit-transform-origin: top center;
    -webkit-animation-fill-mode: both;
    -webkit-animation-duration: 1s;

    animation-name: swing;
    transform-origin: top center;
    animation-fill-mode: both;
    animation-duration: 1s;
}

/** 闹钟晃动 **/
.alarm {
    -webkit-animation-name: alarm;
    -webkit-animation-duration: 200ms;
    -webkit-animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in-out;


    animation-name: alarm;
    animation-duration: 200ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;


}

/** 循环 **/
.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}


/** 放大 **/
.scale{
    /** 开启3d加速 **/
    -webkit-transform: translateZ(0);
    transform: translateZ(0);

    transition:transform 0.4s ease-in-out;
    -webkit-transition: -webkit-transform 0.4s ease-in-out;
}

.scale.animated{
    -webkit-transform:scale(1.1);
    transform:scale(1.1);
}
