/*
 * -----------------------------------------------------------
 * ----------------------2014/3/25 周二------------------------
 * ----------------------流体布局CSS--------------------
 * ------------------------sherlock---------------------------
 * -----------------------------------------------------------
 * 重点说明:
 * 1. 浮动布局
 * 2. inline-block 布局
 * 3. 盒子布局flex   移动端完美而简单 强烈推荐+
 */



/*
 * 浮动布局
 * 提供 2,3,4,5,6列的布局
 */
.float_two, .float_three, .float_four, .float_five, .float_six{float:left;}

.inline_two, .float_two{width:49.9%;}
.inline_three, .float_three{width:33.333%;}
.inline_four, .float_four{width:24.9%;}
.inline_five, .float_five{width:19.9%;}
.inline_six, .float_six{width:16.6%;}


/*
 * inline布局
 */
.inline_box{font-size:1em; letter-spacing:-.25em;}
.inline_two, .inline_three, .inline_four, .inline_five, .inline_six, .inline_any{
    display:inline-block; *display:inline; letter-spacing:0; vertical-align:top; *zoom:1;
}
.inline_fix{display:inline-block; width:100%; height:0; overflow:hidden;}


/*
 * Flex布局(移动端推荐+)
 * 子元素设置了 固定宽度, 按照总宽度减去设计宽度  然后再按照比例来进行分配
 * 例如 :  子元素A : flex 1  子元素B : flex 3;   总宽度 : 1000px   则 A = 1/4 = 250PX  B = 3/4 = 750PX
 * 例如 :  子元素A : 200px;  子元素B : flex 2;   子元素C : flex 3  则 1000-200 = 800PX  A = 2/5 = 320px B = 3/5 = 480px;
 */
.flex{
    display: box;
    display: -ms-box;
    display: -webkit-box;    /** 旧语法 **/
    display: flex;           /** 新语法 **/
    display: -ms-flexbox;
    display: -webkit-flex;   /** 新语法 **/
}

.flex-1{
    display: block;
    flex: 1;
    -ms-flex: 1;
    -webkit-flex: 1;
    box-flex: 1;
    -ms-box-flex: 1;
    -webkit-box-flex: 1;
}

.flex-2{
    display: block;
    flex: 2;
    -ms-flex: 2;
    -webkit-flex: 2;
    box-flex: 2;
    -ms-box-flex: 2;
    -webkit-box-flex: 2;
}

.flex-3{
    display: block;
    flex: 3;
    -ms-flex: 3;
    -webkit-flex: 3;
    box-flex: 3;
    -ms-box-flex: 3;
    -webkit-box-flex: 3;
}

.flex-4{
    display: block;
    flex: 4;
    -ms-flex: 4;
    -webkit-flex: 4;
    box-flex: 4;
    -ms-box-flex: 4;
    -webkit-box-flex: 4;
}
.flex-5{
    display: block;
    flex: 5;
    -ms-flex: 5;
    -webkit-flex: 5;
    box-flex: 5;
    -ms-box-flex: 5;
    -webkit-box-flex: 5;
}
.flex-6{
    display: block;
    flex: 6;
    -ms-flex: 6;
    -webkit-flex: 6;
    box-flex: 6;
    -ms-box-flex: 6;
    -webkit-box-flex: 6;
}
.flex-7{
    display: block;
    flex: 7;
    -ms-flex: 7;
    -webkit-flex: 7;
    box-flex: 7;
    -ms-box-flex: 7;
    -webkit-box-flex: 7;
}
.flex-8{
    display: block;
    flex: 8;
    -ms-flex: 8;
    -webkit-flex: 8;
    box-flex: 8;
    -ms-box-flex: 8;
    -webkit-box-flex: 8;
}
.flex-9{
    display: block;
    flex: 9;
    -ms-flex: 9;
    -webkit-flex: 9;
    box-flex: 9;
    -ms-box-flex: 9;
    -webkit-box-flex: 9;
}
