/*
 * 布局css类
 * sherlock
 * 2014/3/25 周二
 */



/*
 * 表格布局(可用作自适应布局)
 * IE8+ IE6/7(hack)
 */

/* 动态自适应example */
/* http://www.zhangxinxu.com/study/201201/display-table-cell-width-auto.html */

.tb{
    display: table;
}
.tb-cell{
    display: table-cell;
    *display:inline-block;

    /* hack 无内容的时候 右侧定位问题*/
    width:2000px; *width:auto; *zoom:1;

    /* 修复连续文字不换行问题*/
    white-space:normal;
    word-wrap: break-word;
    word-break: break-all;
}





/*
 * inline布局(代替浮动)
 */
.inline_box{font-size:1em; letter-spacing:-.25em;}
.inline_two, .inline_three, .inline_four, .inline_five, .inline_six, .inline_any{
    display:inline-block; *display:inline; letter-spacing:0; vertical-align:top; *zoom:1;
}
.inline_two, .float_two{width:49.9%;}
.inline_three, .float_three{width:33.333%;}
.inline_four, .float_four{width:24.9%;}
.inline_five, .float_five{width:19.9%;}
.inline_six, .float_six{width:16.6%;}
.inline_fix{display:inline-block; width:100%; height:0; overflow:hidden;}


/*
 * 浮动布局(bug多)
 */
.float_two, .float_three, .float_four, .float_five, .float_six{float:left;}


/*
 * Flex布局(移动端)
 * 子元素全部流动 按照设计的比例来进行
 * 子元素设置了 固定宽度, 按照总宽度－设计宽度  然后再按照比例来进行分配
 * 例如 :  子元素A : flex 1  子元素B : flex 3;   总宽度 : 1000px   则 A = 1/4 = 250PX  B = 3/4 = 750PX
 * 例如 :  子元素A : 200px;  子元素B : flex 2;   子元素C : flex 3  则 1000-200 = 800PX  A = 2/5 = 320px B = 3/5 = 480px;
 */

.flex{
    display: flex;          /** 新语法 **/
    display: -webkit-box;   /** 旧语法 **/
    display: -webkit-flex;  /** 新语法 **/
}

.flex-1{
    -webkit-box-flex:1;
    flex: 1;
}

.flex-2{
    -webkit-box-flex:2;
    flex: 2;
}

.flex-3{
    -webkit-box-flex:3;
    flex: 3;
}

.flex-4{
    -webkit-box-flex:4;
    flex: 4;
    box-flex: 4;
}
.flex-5{
    -webkit-box-flex:5;
    flex: 5;
    box-flex: 5;
}
.flex-6{
    -webkit-box-flex:6;
    flex: 6;
    box-flex: 6;
}
.flex-7{
    -webkit-box-flex:7;
    flex: 7;
    box-flex: 7;
}
.flex-8{
    -webkit-box-flex:8;
    flex: 8;
    box-flex: 8;
}
.flex-9{
    -webkit-box-flex:9;
    flex: 9;
    box-flex: 9;
}
