/*
 * 位置模拟css类
 * sherlock
 * 2014/3/25 周二
 */

/* 水平垂直居中(webkit) */
.pos-center-css3 {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%); /* 50%为自身尺寸的一半 */
}

/* 水平垂直居中(负外边距)*/
.pos-center-neg-outside {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: auto; /** 替换为负宽度一半 **/
    margin-top: auto; /** 替换为负高度等一半**/
}

/*水平垂直居中(设置宽高即可)*/
.pos-center-auto {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: auto; /** 自行设置 **/
    height: auto; /** 自行设置 **/
}

/* 单行文字水平居中 设置line-height 与 height 值一样即可 */

/* 块元素水平居中(需要设置宽度,block) */
/* div等标签 */
.block-center {
    margin: 0 auto;
}

/* 行内元素水平居中 inline/inline-block */
/* span等标签 */
.inline-center {
    text-align: center;
}

/* 表格垂直居中(IE8＋兼容)  */
.table-v-align {
    display: table-cell;
    vertical-align: middle;
}

/* 大小不定元素垂直居中(外层设置宽 高) */
/* 注意img元素 需要vertical-aligin :  middle*/
.v-align:after {
    display: inline-block;
    width: 0;
    height: 100%;
    content: "center";
    vertical-align: middle;
    overflow: hidden;
}

/* 绝对定位隐藏 */
.abs_out {
    position: absolute;
    left: -999em;
    top: -999em;
}

.abs_clip {
    position: absolute;
    clip: rect(0 0 0 0);
}