/*
 * -----------------------------------------------------------
 * ----------------------2014/3/25 周二------------------------
 * ----------------------定位CSS--------------------
 * ------------------------sherlock---------------------------
 * -----------------------------------------------------------
 * 重点说明:
 * 1. Flex布局下的定位
 * 2. 常用水平垂直居中方法
 */


/*
 * Flex布局下定位
 */

/** flex方向 **/
.flex-dir-row{
    flex-direction: row;
    -webkit-flex-direction: row;

    box-direction : row;
    -webkit-box-direction: row;
    -moz-box-direction: row;
    -ms-box-direction: row;
}

/** flex方向 **/
.flex-dir-column{
    flex-direction: column;
    -webkit-flex-direction: column;

    box-direction : column;
    -webkit-box-direction: column;
    -moz-box-direction: column;
    -ms-box-direction: column;
}

/**水平居中 **/
.flex-row-center {
    -webkit-justify-content: center;
    justify-content: center;

    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-box-pack: center;
    box-pack: center;
}
/** 垂直居中 **/
.flex-colum-center {
    -webkit-align-items: center;
    align-items: center;

    -webkit-box-align: center;
    -moz-box-align:  center;
    -ms-box-align:  center;
    box-align:  center;
}




/*
 * 常用水平垂直居中
 */

/*  transform水平垂直居中(webkit) */
.transform-center {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%); /* 50%为自身尺寸的一半 */
}


/* 水平垂直居中(负外边距)*/
.outside-neg-center {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: auto; /** 替换为负宽度一半 **/
    margin-top: auto; /** 替换为负高度等一半**/
}


/* 块元素水平居中(需要设置宽度,block) */
/* div等标签 */
.block-center {
    margin: 0 auto;
}

/* 行内元素水平居中 inline/inline-block */
/* span等标签 */
.tc{
    text-align: center;
}

/* 大小不定元素垂直居中(外层设置宽 高) */
/* 注意img元素 需要vertical-aligin :  middle*/
.v-align:after {
    display: inline-block;
    width: 0;
    height: 100%;
    content: "center";
    vertical-align: middle;
    overflow: hidden;
}



