/*
 * -----------------------------------------------------------
 * ----------------------2014/3/25 周二------------------------
 * ----------------------重置css类 针对移动端--------------------
 * ------------------------sherlock---------------------------
 * -----------------------------------------------------------
 * 重点说明:
 * 1. 移动端常用hack
 * 2. 重置了 button radio checkbox 样式 为radio checkbox 设置了几套图片皮肤 适配视网膜屏幕
 * 3. 字体单位使用rem
 */


/** 设置超链接 img **/
a, img {
    -webkit-touch-callout: none; /* 禁止长按链接与图片弹出菜单 */
    touch-callout: none;
}
a {  color: #000; }
a:hover { color: #000; text-decoration: none }
/* 图片样式 */
img {
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;

}
/** 设置点击背景色 **/
a, img, button, input, select{
    -webkit-tap-highlight-color: rgba(0,0,0,0);   /** 图片点击背景色 **/
    outline: 0;
}



/* 禁止选中文本（如无文本选中需求，此为必选项） */
html, body {
    -webkit-user-select: none;
    user-select: none;
}

/* 字体设置 */
html{
    font-size: 62.5%; /*10 ÷ 16 × 100% = 62.5%**/
}
body {

    /**字体大小 字形 **/
    font-size: 1.4rem;   /*1.4 × 10px = 14px */
    font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;

    /** 文字颜色 背景色 **/
    color: #333;
    background: #ffffff;

    /** 禁止safria 旋转屏幕字体放大 **/
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}


/** 间距清空 **/
body,nav,dl,dt,dd,p,h1,h2,h3,h4,ul,ol,li,input,button,textarea,footer {
    margin: 0;
    padding: 0
}
header,footer,article,section,nav,menu,hgroup {
    display: block;
    clear: both;
}

/** 列表样式 **/
ul,ol {
    list-style: none;
}


/** 表单样式 **/
button,input,select,textarea {
    font-size: 1.4rem;
    vertical-align: middle;
    outline: 0
}

/** 禁止文本域改变大小 **/
textarea {
    resize: none;
}

/** 按钮默认样式重置 **/
button,input[type="button"],input[type="reset"],input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 0;
    margin: 0;
    padding: 0;
    background: none;

}
/** 单选 复选 样式重置 **/
/** 普通屏幕图片 **/
input[type="radio"],input[type="checkbox"]{
    -webkit-appearance : none;
    border : 0 none;
    border-radius: 0;
    outline: none;
    background-color: transparent;
    background: url("../img/skin/form/blue.png") no-repeat;
    width: 22px;
    height: 22px;
}
/* 视网膜屏幕 单选复选图片 */
@media (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
    input[type="radio"],input[type="checkbox"]{
        background-image: url("../img/skin/form/blue@2x.png");
        -webkit-background-size: 240px 24px;
        background-size: 240px 24px;
    }
}
input[type='radio']{ background-position: -120px 0;}
input[type='radio']:checked{background-position: -168px 0; }
input[type='radio']:disabled{ background-position: -192px 0;  }
input[type='radio']:checked:disabled{  background-position: -216px 0;  }
input[type='checkbox']{  background-position: 0 0;}
input[type='checkbox']:checked{  background-position: -48px 0;  }
input[type='checkbox']:disabled{ background-position: -72px 0;  }
input[type='checkbox']:checked:disabled{  background-position: -96px 0;  }


/** placeholder 默认颜色**/
input:-moz-placeholder,textarea:-moz-placeholder {
    color: #999999;
}
input:-ms-input-placeholder,textarea:-ms-input-placeholder {
    color: #999999;
}
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{
    color: #999999;
}

/** moz下垂直居中 **/
button::-moz-focus-inner,input::-moz-focus-inner {
    padding: 0;
    border: 0
}


/**  table 样式 **/
table {
    border-collapse: collapse;
    border-spacing: 0
}






