@charset "utf-8";
/**
 * sherlock221b
 * float布局方式
 */


/*
 * 浮动布局
 * 提供 2,3,4,5,6列的布局
 */

.float-box{
  clear: both;
  .f2,.f3,.f4,.f5,.f6{
    float:left
  }
  .f2{width:49.999999%;}
  .f3{width:33.333333%;}
  .f4{width:24.999999%;}
  .f5{width:19.999999%;}
  .f6{width:16.666666%;}
}

