@charset "utf-8";
/**
 * sherlock221b
 * 位置调整
 */



/* 块元素水平居中(需要设置宽度,block) */
/* div等标签 */
.block-center {
  margin: 0 auto;
}

/* 大小不定元素垂直居中(外层设置宽 高) */
/* 注意img元素 需要vertical-aligin :  middle*/
.v-align:after {
  display: inline-block;
  width: 0;
  height: 100%;
  content: "center";
  vertical-align: middle;
  overflow: hidden;
}

//文本或 inline元素居中
.text-center{
  text-align: center;
}
.text-left{
  text-align: left;
}

.text-right{
  text-align: right;
} 


//css3 水平垂直居中
.tran-center{
  position: absolute;
  left: 50%;
  top: 50%;
  @include transform(translate(-50%, -50%));
}