@charset "utf-8";
/**
 * sherlock221b
 * rem常用设计函数
 */



//走设计稿需要缩小2倍数
@function rem($val){
  @return $val / $fontBaseSize   /2 *  1rem;
}

//直接使用(设备原尺寸)
@function rem-use($val){
  @return $val / $fontBaseSize   *  1rem;
}