.navitems{
    clear: both;
    padding: 4px 0;
    border-bottom: 1px solid #ececec;
    border-top: 1px solid #386fb1;
    font-size : 18px;
    text-align: center;

    background: #ccc;

    box-shadow: inset 0 -4px 8px -4px #d3d3d3;
}

.navitems li{
    display:  inline-block;
    width: 16%;
    text-align: center;
    line-height: 30px;
}

.navitems li a{
    display: block;
    color: #1c5aa2;
}

.recommend_items{
    clear: both;
    overflow: hidden;
    height: 34px;
    line-height: 34px;
    border-bottom: 1px solid #e3e3e3;
    border-top: 1px solid #fff;
    font-size: 15px;
    background: #f3f3f3;
}

.recommend_items li {
    clear: both;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 0 12px;
}

.recommend_items li a{
    display: block;
    overflow: hidden;
}

.recommend_items li span {
    float: left;
    height: 14px;
    line-height: 14px;
    font-size: 10px;
    background: #ca1d1d;
    color: #fff;
    padding: 0 3px;
    min-width: 26px;
    text-align: center;
    margin: 10px 12px 0 0;
    font-weight: bold;
}


/*  内容区 */
.p_topline{
    text-align: center;
    padding-bottom: 8px;
}

/* 设置标题 */
.p_topline_h2{
    font-size: 18px;
    padding: 8px 0 4px;
}

.p_topline_h2 a{
    color: #1c1c1c;
}

/* 设置p样式 */
.p_topline_mate{
    font-size: 14px;
    padding-bottom: 2px;
}
.p_topline_mate a{
    color: #333;
    margin: 0 4px;
}

.weather_tips {
    clear: both;
    height: 32px;
    overflow: hidden;
    margin: 0 auto;
    width: 55px;
}

.appitems{
    clear: both;
    overflow: hidden;
    font-size: 12px;
    text-align: center;
    padding-bottom: 6px;
}

.appitems li:first-child{
    width: 28%;
}

.weather_tips span{
    float: left;
}

.weather_tips p {
    overflow: hidden;
    line-height: 13px;
    font-size: 11px;
    padding-left: 5px;
    font-weight: bold;
}


#admap{
    background-image: url(http://f1.p0y.cn/c/577/35393.jpg);
    height: 180px;
    -webkit-transition : height 0.5s ease-in;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: 50% 0;
}

.headBox{
    height: 44px;
    line-height: 44px;
    text-align: center;
    position: relative;
    border-bottom: 1px solid #6591c2;

    /* 渐变 */
    background: linear-gradient(#1971db,#2367b7);

}

.subscribe{
    height: 25px;
    line-height: 25px;

    font-size: 13px;
    border : 1px solid #1058af;
    border-radius : 2px;
    color: #fff;
    background: #277de3;
    -webkit-box-shadow : inset 0 1px 0 #55a7f5;
    padding: 0 7px;

    position: absolute;
    left: 0px;
    top: 9px;
}

.logo{
    width: 118px;
    height: 29px;
    line-height: 29px;
    text-indent: 999em;
    overflow: hidden;
    background-position: 0 0;
    margin-top: 7px;

    background: url(http://mjs.sinaimg.cn/wap/home/201403171130/images/home_icobg.png) no-repeat;
    background-size: 118px auto;
}

.article_op{
    width: 100%;
}

